{% extends "./layout.html" %}
{% set pageTitle = currentCat.name %}
{% set pageKeywords = currentCat.meta_keywords %}
{% set pageDescription = currentCat.meta_description %}

{% block style %}
  {% include "./shared/cat_style.html" %}
{% endblock %}

{% block background %}
  {% include "./shared/cat_bg.html" %}
{% endblock %}

{% block content %}
  {% include "./shared/macros.html" %}
    <div class="row">
      <div class="col-md-12">
        <div class="posts">
        {{ post_list(posts) }}
        {{ post_page(newer, older) }}
        </div>
      </div>
    </div>
{% endblock %}