<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ pageTitle }}{% endblock %}</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images//favicon.ico" type="image/x-icon">
    <!-- Bootstrap -->
    {% if isProduction %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    {% else %}
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    {% endif %}
    <!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">-->
    <!--<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">-->
    <link href="/stylesheets/style.css" rel="stylesheet" >
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		<!--[if lt IE 7]>
  	<link rel="stylesheet" type="text/css" href="/stylesheets/ie6.css" />
		<![endif]-->
    <style>{% block style %}{% endblock %}</style>
  </head>
  <body>
    <div class="container">
			{% include "./shared/header.html" %}
      {% block nav %}{% include "./shared/nav.html" %}{% endblock %}
			{% block content %}{% endblock %}
      {% block footer %}{% include "./shared/footer.html" %}{% endblock %}
      {% block slideup %}
        <div id="show-background-trigger">
          <span class="glyphicon glyphicon-eye-open"></span>
        </div>
      {% endblock %}
		</div>

    {% block jquery %}
      {% if isProduction %}
      <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
      {% else %}
      <script src="/javascripts/jquery-1.11.0.min.js"></script>
      {% endif %}
    {% endblock %}

    {% if isProduction %}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% else %}
    <script src="/javascripts/bootstrap.min.js"></script>
    {% endif %}

		{% block script %}{% endblock %}

    {% block script_show_background %}
      <script>
      $(document).ready(function () {
        var recoverHandler = function () {
          $('body').unbind('click');
          $('.container').fadeIn('slow');
        };

        $('#show-background-trigger').click(function () {
          $('.container').fadeOut('slow', function () {
            $('body').bind('click', recoverHandler);
          });
        });
      });
      </script>
    {% endblock %}
  </body>
</html>